<fieldset class="pan mbs">
	<div class="auto-grid has-gutter">
		<%= f.label :name, :name %>:
		<%= f.text_field :name %>

		<%= f.label :css, :css %>:
		<%= f.text_field :css %>

		<%= f.label :from, :from %>:
		<%= f.text_field :from %>

		<%= f.label :to, :to %>:
		<%= f.text_field :to %>

		<%= f.hidden_field :_destroy %>
		<%= link_to :delete, "#", class: "remove_fields" %>

	</div>
</fieldset>
