<%= form_with(model: site, local: true, remote: true, class: "mts") do |form| %>
	<% if site.errors.any? %>
		<div id="alert--error">
			<h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

			<ul>
			<% site.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<fieldset class="mbs pas block">
		<legend class="h4-like"><%= :site %></legend>
		<div class="auto-grid has-gutter mbs">
			<%= form.label :name, :name, class: 'txtright' %>:
			<%= form.text_field :name %>

			<%= form.label :url, :url, class: 'txtright' %>:
			<%= form.url_field :url %>

			<%= form.label :template_id, :template_id, class: 'txtright' %>
			<%= form.select :template_id,
					::Template.all.collect {|t| [t.name, t.id]},
					{include_blank: true},
					{prompt: 'Select template'} %>
		</div>
	</fieldset>

	<fieldset class="mbs pas block">
		<legend class="h4-like"><%= :targets %></legend>
		<%= form.fields_for :targets do |builder| %>
			<%= render 'target_fields', f: builder %>
		<% end %>

		<%= link_to_add_fields :add_target, form, :targets %>
	</fieldset>

	<div class="actions">
		<%= form.submit :submit %>
	</div>

<% end %>
